name: serdataclasses ci

on: [push]

jobs:
  build:
    runs-on: ubuntu-18.04

    strategy:
      matrix:
        python-version: ['3.8']
        poetry-version: ['1.0.0b7']
        pip-version: ['19.3.1']

    steps:
      - uses: actions/checkout@v1
      - name: Setup, Python ${{ matrix.python-version }}
        uses: actions/setup-python@v1
        with:
          python-version: ${{ matrix.python-version }}
          architecture: x64
      - name: Tox, Python ${{ matrix.python-version }}
        run: |
          # Python
          python -m pip install --upgrade pip==${{ matrix.pip-version }}
          # Poetry
          curl -sSL https://raw.githubusercontent.com/sdispater/poetry/master/get-poetry.py > get-poetry.py
          python get-poetry.py --preview
          rm get-poetry.py
          source $HOME/.poetry/env
          poetry self update --preview ${{ matrix.poetry-version }}
          # Tox
          poetry install
          poetry run tox -e py
